@font-face {
	font-family: "TTWellingtons";
	src: url(/src/assets/static/font/TTWellingtons-Black.woff2);
	font-weight: 900;
	font-display: swap;
}

@font-face {
	font-family: "TTWellingtons";
	src: url(/src/assets/static/font/TTWellingtons-Bold.woff2);
	font-weight: 700;
	font-display: swap;
}