@import "font";

@function relativeSize($etalon) {
	@return calc($etalon / 320 * var(--cqw) * 100);
}

.banner {
	background-color: #ffd749;
	color: rgb(68, 68, 68);
	width: 320px;
	user-select: none;
	font-family: "TTWellingtons";
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding-top: relativeSize(8);
	position: relative;
	z-index: 1;

	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 11px;
		opacity: 0;
	}

	&__title {
		font-size: relativeSize(20);
		font-weight: 900;
		line-height: 140%;
		letter-spacing: 0;
		text-transform: uppercase;
	}

	&__count {
		display: grid;

		img {
			display: block;
			grid-column: 1;
			grid-row: 1;
			justify-self: flex-end;
			height: relativeSize(31);

			&[hidden] {
				opacity: 0;
			}
		}
	}

	&__items {
		display: flex;
		padding-left: relativeSize(28);
		padding-right: relativeSize(13);
		margin-top: relativeSize(13);

		svg {
			g g {
				opacity: 0;

				rect {
					transition: opacity ease .3s;
				}

				&[data-checked] rect {
					opacity: 0.2;
				}
			}
		}
	}

	&__backpack {
		margin-top: -20%;
		margin-bottom: -39%;
		transform: translate(-1.5%, -40%) rotate(-11deg);
		opacity: 0;
		z-index: -1;

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&__reset {
		cursor: pointer;
		color: rgb(255, 215, 73);
		font-size: relativeSize(20);
		font-weight: 900;
		line-height: 140%;
		letter-spacing: 0%;
		padding: relativeSize(12);
		background-color: #fff;
		border-radius: relativeSize(10);
		position: absolute;
		bottom: 0;
		transform: translateY(100%);
		align-self: center;
		filter: drop-shadow(0 relativeSize(4) relativeSize(4) rgba(0, 0, 0, 0.25));
		text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
	}

	&__ready {
		text-align: center;
		font-size: relativeSize(30);
		font-weight: 900;
		line-height: 140%;
		letter-spacing: 0%;
		position: absolute;
		top: relativeSize(26);
		align-self: center;
		opacity: 0;
		pointer-events: none;
	}
}