<!DOCTYPE html>
<html lang="ru">
	<%- include('/head') %>

	<body>
		<%- include('/header') %>
		<main>
			<button class="play">play</button>
			<button class="clear">clear</button>
			<div class="banner">
				<div class="banner__header">
					<div class="banner__title"><span>готовность</span></div>
					<div class="banner__count">
						<img src="/src/assets/static/img/0.svg">
						<img src="/src/assets/static/img/1.svg">
						<img src="/src/assets/static/img/2.svg">
						<img src="/src/assets/static/img/3.svg">
						<img src="/src/assets/static/img/4.svg">
						<img src="/src/assets/static/img/5.svg">
					</div>
				</div>
				<div class="banner__ready"><span>ТЕПЕРЬ <br> ТЫ ГОТОВ!</span></div>
				<div class="banner__items">
					<%- include('/items.svg.ejs') %>
				</div>
				<div class="banner__backpack">
					<img src="/src/assets/static/img/12.webp">
				</div>
				<div class="banner__message">
					<img src="/src/assets/static/img/13.svg" alt="" class="banner__message__decorator">
					Собери <br> рюкзак <span class="banner__message__small">в <br> <span class="banner__message__last">школу!</span> </span>
				</div>
				<div class="banner__reset"><span>Попробуй еще</span></div>
			</div>
		</main>
		<%- include('/footer') %>
	</body>

</html>